/*

///////////////////////////////////////////////////////


//////   ///     ///////   ////    //   ///////   ///
///      ///     ///  //   /// /   //   //        ///
//////   ///     ///////   ///  /  //   //        ///
    //   ///     /// //    ///   / //   //        ///
//////   //////  ///  //   ///    ///   ///////   //////


////////////////////////////////////////////////////////

Domain: solerieu-nicolas.fr
Author: Nicolas Solerieu
Description: _
Version: 1.0

/* -------------------------------------------------------------- 
/* =BASIS
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 170%;
  font-size: 1em;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.wrapper::after {
  clear: both;
  content: '';
  display: block;
}


/* -------------------------------------------------------------- 
/* =TYPOGRAPHY
-------------------------------------------------------------- */
p {
  color: #888888;
}
a {
  outline: none;
  color: #2878ff;
  text-decoration: none;
}
p a:hover {
  border-bottom: 2px solid #2878ff;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}